﻿<div id="preloader" ng-show="ctrl.dataLoading">
    <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>
</div>
<div class="container">
    <header>
        <div id="nav-title">
            Title Line
        </div>
        <div id="social-links">
            <ul>
                <li><i class="fa fa-jsfiddle" aria-hidden="true"></i></li>
                <li><i class="fa fa-github" aria-hidden="true"></i></li>
                <li><i class="fa fa-linkedin" aria-hidden="true"></i></li>
                <li><i class="fa fa-slack" aria-hidden="true"></i></li>
                <li><i class="fa fa-stack-overflow" aria-hidden="true"></i></li>
            </ul>
        </div>
    </header>
    <div ng-class="{ 'alert': flash, 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error' }" ng-if="flash" ng-bind="flash.message"></div>             
        
    <div id="searchBox">
        <form  ng-submit="getUserForks()" method="post" role="form">
            <input id="username" name="username" placeholder="Username" ng-model="ctrl.username"/>
            <button type="submit" >Search</button>
        </form>     
    </div>

    <div class="col-md-12 col-sm-12 col-xs-12 gist-container">
        <div class="gist-card" ng-repeat="data in ctrl.userGists ">
            <h4>Gist Id</h4>
            <h3>{{ data.id }}</h3>
            <h4>Files</h4>
            <div class="gist-files">
                <a ng-repeat="file in data.files" class="badge" href="{{ file.raw_url }}" target="_blank">{{ file.language }}</a>
            </div>
            <h4>Top 3 User Folks</h4>
            <div  class="gist-folks" >
                <a href="{{ folk.url }}" target="_blank" ng-repeat="folk in data.folks"><img src="{{ folk.user.avatar_url }}" height="60px" ng-if="{{ folk.user.avatar_url }}"/></a>
            </div>
        </div>
    </div>
</div>