/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575px) { 
    .gist-card{
        width: 100%;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767px) {
    .gist-card{
        width: 49%;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) { 
    .gist-card{
        width: 49%;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {  
    

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1919px) {  

}

/* Extra extra large devices (large desktops, 1920px and up) */
@media (min-width: 1920px){  

}
