/*=================================================================================================================================
//     Reset classes
==================================================================================================================================*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
}

/*=================================================================================================================================
//   font face
==================================================================================================================================*/

@font-face {
  font-family: 'latos';
  src: url("../fonts/AM277.eot");
  src: url("../fonts/AM277.eot") format("embedded-opentype"), url("../fonts/AM277.woff2") format("woff2"), url("../fonts/AM277.woff") format("woff"), url("../fonts/AM277.ttf") format("truetype"), url("../fonts/AM277.svg#AM277") format("svg");
}

/*=================================================================================================================================
//    remaining css
==================================================================================================================================*/

html, body {
    position: relative;
    -webkit-overflow-scrolling: touch;
    height: 100vh;
}

body {
    font: 100% lato, sans-serif;
    margin: 0px;
    cursor: pointer;
    overflow: auto;
    background: #1f2340;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #999a9a !important;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #999a9a !important;
}

:-ms-input-placeholder {
  /* IE 10+ */
  color: #999a9a !important;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: #999a9a !important;
}

header{
    margin: 30px 0 80px;;
    display: flex;
    justify-content: space-between;
}

header #nav-title{
    color: #ff816c;
    font-weight: bold;
    font-size: 24px;
    font-family: latos;
}

#social-links ul li{
    display: inline-block;
    color: #7f829b;
    list-style: none;;
}

#social-links ul li + li{
    margin-left: 20px;
    font-size: 20px;
}

#social-links ul li:hover{
    color: #ff816c;
}

.gist-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.gist-card{
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
    margin: 25px 0;
    padding: 15px;
    width: 32.33%;
    margin-bottom: 10px;
}

.gist-card h3, .gist-card h4{
    color: #fff;
    margin-top: 10px;
    margin-top: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    width: 100%;
    overflow: hidden;
}

.gist-card h4{
    color : #9e9e9e;
}

.gist-card .badge{
    background-color: transparent;
    border: 1px solid #5c607e;
    border-radius: 4px;
    color: #7f829b;
    margin-top: 10px;
}

.gist-card .gist-files{
    height: 40px;
}

.gist-card .gist-files a{
    display: inline-block;
}

.gist-card .gist-folks{
    margin-top: 10px;
    height: 60px;
}

.gist-card .gist-folks a{
    display: inline-block;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    overflow: hidden;
}

#searchBox{
    margin: 0 0 80px;
    display: flex;
    justify-content: center;
    padding: 0 15px;
}


#searchBox form{
    width: 100%;
    display: flex;
}

#searchBox form > *{
    display: inline-block;
}

#searchBox input{
    flex : 1;
    margin-right: 15px;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: transparent;
    background-image: none;
    border: 0px;
    border-bottom: 1px solid #7f829b;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

#searchBox input:focus{
    outline: none;
    border-color: #ff816c;
}

#searchBox button{
    height: 34px;
    color: #7f829b;
    padding: 0 20px;
    background-color: transparent;
    border: 1px solid #7f829b;
    border-radius: 4px;
}

/*===================================== preloader======================================== */

#preloader {
    position: fixed;
    display: block;
    left: 0;
    top: 0;
    z-index: 999999;
    width: 100%;
    height: 100vh;
    overflow: visible;
    background: rgba(0, 0, 0, 0.5)
}

.spinner {
    position: fixed;
    top: 48%;
    left: 48%
}

.spinner>div {
    width: 18px;
    height: 18px;
    background-color: #d6d6d6;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both
}

.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s
}

.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s
}

#preloader .spinner>div {
    background-color: #fff !important
}
    
@-webkit-keyframes sk-bouncedelay {
    0%,
    80%,
    100% {
        -webkit-transform: scale(0)
    }
    40% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes sk-bouncedelay {
    0%,
    80%,
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}